%% Erlang compiler options
{erl_opts, [
  debug_info,
  warn_export_all,
  {parse_transform, lager_transform},
  {d, 'PLATFORM_SHARED_EXT', true}
]}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.

%% What dependencies we have
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
  {maxwell_client, {git, "git@bitbros.com:/maxwell-client-erlang", {branch, "master"}}},
  {maxwell_server, {git, "git@bitbros.com:/maxwell-server", {branch, "master"}}}
]}.

{relx, [
  {release,
    {maxwell_backend_dev, "0.1.0"},
    [maxwell_backend],
    [
      {dev_mode, true},
      {include_erts, true},
      {extended_start_script, true},
      {vm_args, "config/vm.dev.args"},
      {sys_config, "config/sys.dev.config"}
    ]
  },
  {release,
    {maxwell_backend_prod, "0.1.0"},
    [maxwell_backend],
    [
      {dev_mode, false},
      {include_erts, true},
      {extended_start_script, true},
      {vm_args, "config/vm.prod.args"},
      {sys_config, "config/sys.prod.config"}
    ]
  }
]}.